<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Create Employee
        //- link(rel="stylesheet", href="https://cdn.jsdelivr.net/gh/jdriviere/sparkle-css@1.9.9-beta.1/dist/css/sparkle.min.css")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/gh/jdriviere/sparkle-css@1.9.13/dist/css/sparkle.min.css")
    body
        block content